[*.cs]

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = none
[*.cs]

# IDE0210: Convert to top-level statements
csharp_style_prefer_top_level_statements = false
[*.cs]

# IDE0210: Convert to top-level statements
dotnet_diagnostic.IDE0210.severity = silent

# CS8600: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = none
[*.cs]

# CS8602: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = none
[*.cs]

# CS8602: Dereference of a possibly null reference.
dotnet_diagnostic.CS8602.severity = none
